@CHARSET "UTF-8";

#body {
	font-size: 14px;
	padding: 0;
	margin: 0;
}

a, a:hover, a:focus {
	text-decoration: none;
}

.none {
	display: none;
}

.list_ul {
	border: 1px solid #ccc;
	height: 74px;
	line-height: 74px;
	margin: 10px 10px 0 10px;
}

.input-x input[type="text"] {
	margin-top: 12px;
}

.input-x span {
	margin-top: -1px;
}

#ul_style4 ul, #ul_style4 li {
	list-style-type: none;
}

#ul_style4 li {
	display: inline;
	margin-left: 5%;
	font-size: 14px;
	color: #4a90e2;
	cursor: pointer;
	font-weight: bold;
}

#ul_style4 li:first-child {
	margin-left: 0;
}

#ul_style4 li:hover {
	color: #4a90e2;
	
	transform: all 0.4s ease;
}
.active{
	color: #4a90e2;
	border-bottom: 2px solid #4a90e2;
}

.input-x {
	float: right;
	position: relative;
	top: -85px;
	right:-20px;
}

.input-x input[type="text"] {
	width: 50%;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
}

.input-x .btn-sert {
	margin-left: -4px;
	margin-top: 1px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

.list_data {
	margin: 0 10px;
}

#list_data0, #list_data1, #list_data2, #list_data3, #list_data4 {
	/*border-bottom: 3px solid #ccc;*/
	
}

.AccordionPanelTab {
	border:1px solid #ccc;
	background: white;
	border-left-width: 2px;
	border-left-color:seagreen;
	border-top-color:#fff;
	border-right-color:#ccc;
}

.panelContent {
	min-height: 280px;
	background-color: #f0f0f0;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-left: 2px solid green;
}

/*.AccordionPanelContent {
	margin: 0 10px;
	padding: 10px 0;
	min-height: 350px;
	background-color: rgba(235, 2356, 1, 0);
}*/
.time_item{
	margin:0 20px;
}
.img_item{
	float:left;
	margin-top:10px;
}
.info_item{
	margin-top:10px;
	width:100%;
	padding-left:20px;
	float:left;
}
.img_item img{
	margin-left:20px;
	
}
.row_content {
	height: 30px;
	line-height: 29px;
	margin: 10px 0;
}

.row_table {
	width: 15%;
	float: left;
	padding-left:20px;
	text-align: left;
}

.row_1 .row_table {
	color: : #999;
}

.row_2 .row_table {
	color: : #666;
	font-weight: bold;
}