@CHARSET "UTF-8";
#body {
	font-size: 14px;
	padding: 0;
	margin: 0;
}

a,
a:hover,
a:focus {
	text-decoration: none;
}

.none {
	display: none;
}

.list_ul {
	border: 1px solid #ccc;
	height: 54px;
	line-height: 54px;
}

.input-x input[type="text"] {
	margin-top: 12px;
}

.input-x span {
	margin-top: -1px;
}

#ul_style4 ul,
#ul_style4 li {
	list-style-type: none;
}

#ul_style4 li {
	display: inline;
	margin-left: 5%;
	font-size: 14px;
	color: #666;
	cursor: pointer;
}

#ul_style4 li:first-child {
	margin-left: 0;
}

#ul_style4 li:hover {
	color: #4a90e2;
}
.input-x {
	float: right;
	position: relative;
	top: -65px;
}

.input-x input[type="text"] {
	width: 60%;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
}

.input-x .btn-sert {
	margin-left: -4px;
	margin-top: 1px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

#list_data0,
#list_data1,
#list_data2,
#list_data3,
#list_data4 {
	/*border-bottom: 3px solid #ccc;*/
}

.AccordionPanelTab {

	border-bottom: 1px solid #ccc;
}

.panelContent {
	min-height: 350px;
	background-color: #f0f0f0;
	width: 99.5%;
	border-top: 1px solid #e5e5e5;
	border-left: 2px solid seagreen;
}
.AccordionPanelContent {
	margin: 20px;
	min-height: 350px;

	background-color: #efefef;
	width: 100%;
}

.row_content {
	height: 40px;
	line-height: 39px;
	margin: 10px 0;
}

.row_table {
	width: 17%;
	float: left;
	text-align: center;
}

.row_1 .row_table {
	color: : #999;

}

.row_2 .row_table {

	color: : #666;
	font-weight: 600;
}