@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

html,
body {
	white-space: nowrap;
	background-color: #f6f6f6;
	font-family: "微软雅黑","arial black";
}
div{ 
word-wrap: break-word;
word-break: normal; 
}
body{
	min-width: 870px;
}

.dataWrapper .row,
.row-title {
	margin: 10px;
	min-width: 850px;
}

.row-title {
	margin-left: 14px;
	margin-right: 10px;
}
.row .col-xs-6{
	height: 120px;
	background-color: #fff;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.row .col-xs-6:first-child {
	border-left: 1px solid #e5e5e5;
}
.row .col-xs-6:last-child {
	border-right: 1px solid #e5e5e5;
}
.row_title_content{
	border-right: 1px solid #e5e5e5;
	margin: 10px 0;
	height: 100px;
}
.row_title_last{
	border-right: none;
}
.row-title label {
	display: block;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	padding-left: 5px;
	background: #f6f6f6;
	box-shadow: -4px 0 0 #4a90e2, inset 0 0 0 #f6f6f6;
}

.row .row_span {
	display: block;
	height: 30px;
	line-height: 30px;
	margin: 2px 0;
	text-align: center;
}
.row-2 >span {
	color: #eb6e6e;
	font-size: 24px;
	font-weight: bold;
	font-family: helvetica, "arial black";
}

.row-2 >i {
	font-size: 32px;
	color: #e5e5e5;
	font-weight:lighter;
	position: relative;
	top: 5px;
	left: -3px;
}

.row-2 >small {
	color: #4a90e2;
	font-family: helvetica, "arial black";
	font-size: 14px;
}
.row-3{
	color: #666;
	font-family: "微软雅黑";
}
.row-map {
	margin: 0 10px;
}

.bottom-frame {
	text-align: center;
	height: 40px;
	line-height: 40px;
	background-color: white;
	border: 1px solid #e5e5e5;
}

.bottom-frame ul {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.bottom-frame ul,
.bottom-frame li {
	list-style: none;
}

.bottom-frame ul >li {
	float: left;
	margin-left: 5%;
}

.bottom-frame ul >li i {
	display: block;
	float: left;
	height: 20px;
	width: 20px;
	margin-top: 9px;
	margin-right: 5px;
}

.bottom-frame ul>li .i_1 {
	background: #F25656;
}

.bottom-frame ul>li .i_2 {
	background: #F1A325;
}

.bottom-frame ul>li .i_3 {
	background: #329D38;
}
.row-chart{
	min-width: 850px;
}
.row-chart .one-charts,
.row-chart .two-charts,
.row-chart .three-charts {
	background: #fff;
	height: 306px;
	margin: 10px;
}

#one-charts,
#two-charts,
#three-charts,
#four-charts,
#five-charts {
	height: 306px;
	float: left;
	width: 59%;
}

#one-charts-pie,
#two-charts-pie,
#three-charts-pie,
#four-charts-pie,
#five-charts-pie {
	float: right;
	width: 39%;
	height: 306px;
}

.item_title {
	position: relative;
	float: right;
	right: 25%;
	top: 35px;
	color: #999999;
	font-size: 16px;
	font-weight: 600;
}

.item_title_2 {
	position: relative;
	right: -10%;
	top: 35px;
	color: #999999;
	font-size: 16px;
	font-weight: 600;
}

.item_footer,
.item_footer_2 {
	position: relative;
	bottom: -279px;
	right: -14%;
	font-size: 14px;
	color: #999;
}

.item_footer_2 {
	right: -10%;
	bottom: -269px;
}

.last-month {
	right: -5%;
}

#it_1,
#it_2,
.qin_1,
.qin_2 {
	font-size: 14px;
	font-weight: 600;
	width: 150px;
}

#it_1 {
	position: relative;
	bottom: -229px;
	right: -21.777%;
	color: #4a90e2;
}

#it_2 {
	position: relative;
	bottom: -255px;
	right: -17.777%;
	color: #eb6e6e;
}

.enb-bar #it_1 {
	color: #50d6e3;
}

.enb-bar #it_2 {
	right: -19%;
	color: #28abec;
}

.qin_1 {
	position: relative;
	bottom: -215px;
	right: -16%;
	color: #50e3c2;
}

.qin_2 {
	position: relative;
	bottom: -245px;
	right: -13.333%;
	color: #f8e71c;
}

.deg-1 {
	right: -12%;
	
	color: #d8d8d8;
}

.deg-2 {
	color: #eb6e6e;
	right: -9.666%;
}

.i-charts{
	width: 60%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.i-charts {
	height: 20px;
	line-height: 20px;
}

.i-charts> i {
	display: block;
	float: left;
	width: 15px;
	height: 15px;
	margin: 1px;
}

.ch-1>i {
	background: #7ed321;
}

.ch-2>i {
	background: #f5a623;
}

.pro-bar {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	overflow: hidden;
	padding-left: 10px;
}

.trapezoid {
	content: "";
	display: block;
	height: 0;
	width: 0px;
	border-width: 0px 0px 35px 245px;
	border-style: none solid solid;
	border-color: transparent transparent #f5a623;
}

.pro-text {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.pro-text .col-xs-6 {
	text-align: center;
}

.foot-text .col-xs-6 >p{
	margin-top: 35px;
	text-align: left;
	word-wrap: break-word;

	word-break : normal
}
@media (min-width:1024px ) {
	
}