@CHARSET "UTF-8";
body {
	font-family: "微软雅黑", "arial black";
}

.navbar {
	cursor: auto !important;
}

.brand img {
	position: relative;
	left: -79px;
	top: -7px;
}

.logo-nav label {
	color: #fff;
	font-size: 16px;
	font-family: "微软雅黑";
}

.logo-nav ul,
.logo-nav li {
	list-style: none;
	color: #FFF;
	font-size: 16px;
	font-family: "微软雅黑";
}

.logo-nav ul {
	float: right;
	margin-top: -20px;
}

.logo-nav li {
	float: left;
	margin-right: 30px;
	width: 60px;
	height: 22px;
	line-height: 17px;
}

.logo-nav li:last-child {
	margin-right: 120px;
}

.logo-nav-1 {
	position: relative;
	left: -90px;
	top: 25px;
}

.logo-nav-2 {
	position: relative;
	left: -90px;
	top: 20px;
}

#login-out em {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	background: url(../images/icons/常态/退出.png) no-repeat;
}

#login-out a,
#login-out a:hover {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}
.content{
	margin-left: 120px;
}
.cus {
	background-image: url(../images/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
}

.cus-data {
	width: 20px;
	height: 20px;
	background-position: -5px -5px;
}

.cus-exit {
	width: 20px;
	height: 20px;
	background-position: -35px -5px;
}

.cus-gongdi {
	width: 20px;
	height: 20px;
	background-position: -65px -5px;
}

.cus-help {
	width: 20px;
	height: 20px;
	background-position: -95px -5px;
}

.cus-jiankong {
	width: 20px;
	height: 20px;
	background-position: -125px -5px;
}

.cus-renyuan {
	width: 20px;
	height: 20px;
	background-position: -155px -5px;
}

.cus-set {
	width: 20px;
	height: 20px;
	background-position: -185px -5px;
}

.cus-weixing {
	width: 20px;
	height: 20px;
	background-position: -215px -5px;
}

.cus-yewu {
	width: 20px;
	height: 20px;
	background-position: -245px -5px;
}

#sidebar-nav {
	width: 120px !important;
	background-color: #336CC1;
	min-height: 1000px;
}

/*#sidebar-nav{
	position: fixed !important;
	z-index: 999;
}*/

.leftfixed{
	position: fixed;
	top: 0;
	left: 12%;
	width: 120px;
	z-index: 9000;
	webkit-box-shadow: 0px 4px 4px #baacc9;
	-moz-box-shadow: 0px 4px 4px #baacc9;
	box-shadow: 0px 4px 4px #baacc9;
	background: #336CC1;
}
@media  (min-width: 1280px) {
	.leftfixed{
	position: fixed;
	top: 0;
	left: 10%;
	width: 120px;
	z-index: 9000;
	webkit-box-shadow: 0px 4px 4px #baacc9;
	-moz-box-shadow: 0px 4px 4px #baacc9;
	box-shadow: 0px 4px 4px #baacc9;
	background: #336CC1;
}
}
#dashboard-menu {
	margin: 0 !important;
	padding: 0 !important;
	/*	width: 150px !important;*/
}

#dashboard-menu li {
	height: 50px;
	/*border-top: 1px solid #ccc;*/
	line-height: 50px;
	text-align: center;
	border: none !important;
	padding-left: 5px !important;
	cursor: pointer;
}

#dashboard-menu li>a {
	margin: 0!important;
	padding: 0!important;
}

.slider-bar-1 em,
.slider-bar-2 em,
.slider-bar-3 em,
.slider-bar-4 em,
.slider-bar-5 em,
.slider-bar-6 em,
.slider-bar-7 em,
.slider-bar-8 em {
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	position: relative;
	left: 0;
	top: 15px;
}

.slider-bar-1 em {
	background: url(../images/icons/常态/数据.png)no-repeat center center;
}

.slider-bar-2 em {
	background: url(../images/icons/常态/业务.png)no-repeat center center;
}

.slider-bar-3 em {
	background: url(../images/icons/常态/监控.png)no-repeat center center;
}

.slider-bar-4 em {
	background: url(../images/icons/常态/卫星.png)no-repeat center center;
}

.slider-bar-5 em {
	background: url(../images/icons/常态/工地.png)no-repeat center center;
}

.slider-bar-6 em {
	background: url(../images/icons/常态/人员.png)no-repeat center center;
}

.slider-bar-7 em {
	background: url(../images/icons/常态/设置.png)no-repeat center center;
}

.slider-bar-8 em {
	background: url(../images/icons/常态/帮助.png)no-repeat center center;
}

#dashboard-menu >li >a:hover {
	color: #e5e5e5;
}

#dashboard-menu >li >a em:hover {
	filter: alpha(opacity=70);
	/* IE */
	-moz-opacity: 0.7;
	/* Moz + FF */
	-webkit-opacity: 0.7;
	opacity: 0.7;
}

.active {
	background: url(../images/icons/bg.png);
}

.active >a {
	font-size: 14px!important;
	font-family: "微软雅黑", "arial black"!important;
	color: #336CC1!important;
}

.active .slider-bar-1 em {
	background: url(../images/icons/选中/数据.png)no-repeat center center;
}

.active .slider-bar-2 em {
	background: url(../images/icons/选中/业务.png)no-repeat center center;
}

.active .slider-bar-3 em {
	background: url(../images/icons/选中/监控.png)no-repeat center center;
}

.active .slider-bar-4 em {
	background: url(../images/icons/选中/卫星.png)no-repeat center center;
}

.active .slider-bar-5 em {
	background: url(../images/icons/选中/工地.png)no-repeat center center;
}

.active .slider-bar-6 em {
	background: url(../images/icons/选中/人员.png)no-repeat center center;
}

.active .slider-bar-7 em {
	background: url(../images/icons/选中/设置.png)no-repeat center center;
}

.active .slider-bar-8 em {
	background: url(../images/icons/选中/帮助.png)no-repeat center center;
}