a{
    color: black; 
    text-decoration: none; 
}
a:link{
    color: black; 
    text-decoration: none; 
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
a:active {
text-decoration: none;
}

#linkTd {
    border: solid 1px;
    background-color: gray; 

}

#contentDiv {
    margin-left: 10%;
    width: 80%;
    height: 100%;
    padding: 2%
}

#nav {
    list-style: none;
    font-size: 14px;
    line-height: 40px;

}

#nav li{
    
    float: left;
    width: 20%;
}

#detailInfo {
    margin-top: 5px;
    margin-bottom: 0px;
    list-style: none;
    font-size: 14px;
    line-height: 40px;
}

#name {
    float: left;
    width: 20%;
    
}

#person {
    float: left;
    width: 20%;
    margin-left: 20%;
}

#address {
    margin-top: 8px;
    margin-bottom: 5px;
    width: 90%;
    height: 400px;
    background-color: gray;
}

#nav1 {
    list-style: none;
    font-size: 14px;
    line-height: 40px;

}

#nav1 li{
    margin-left: 0px;
    float: left;
    
}



input {
    border-radius: 3px;
}







