@CHARSET "UTF-8";
#body{
	margin-left: 15%;
	width:70%;
	height:1200px;
	background-color: #00FFFF;
}
.data_ul{
	width: 100%;
	background-color: #ffffff;
}
.none {display:none;}
#data_0{
	border: 1px solid #e5e5e5;
	width:100%;
	height:370px;
	background-color: #ffffff;
}
#data_z{
	border: 1px solid #e5e5e5;
	width:100%;
	height:420px;
	background-color: #ffffff;
}
#data_1{
	width:100%;
	height:370px;
	background-color: #ff0000;
}
#data_bm{
	border: 1px solid #e5e5e5;
	width:100%;
	height:240px;
	background-color: #ffffff;
}
.data_data_video{
	width:47%;
	height: 370px;
	float:left;
	background-color: #00ff00;
}

.data_data_pm{
	border: 1px solid #e5e5e5;
	width:34%;
	height:370px;
	float:left;
	background-color: #ffffff;
}
.data_data_select{
	border: 1px solid #e5e5e5;
	width:18%;
	height:370px;
	float:right;
	background-color: #ffffff;
}
#ul_style3{
	margin-left: 36%;
	margin-top: 4px;
}
#ul_style3 li{
	list-style-type: none;
	display:inline;
}